:root {
	--primary-color: #0f9d58;
	--background-color: #f0f3f7;
	--second-color: #9da2ad;
	--grey: #7a7a7b;
}

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: unset;
	text-decoration: none !important;
}

body,
html {
	background-color: var(--background-color) !important;
	scroll-behavior: smooth;
	/* position: relative; */
	overflow-x: hidden;
}

.nav-component {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	background-color: var(--background-color);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.menu-wrap {
	max-width: 1366px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	font-size: 2rem;
	font-weight: 800;
	color: var(--primary-color);
	padding: 0 .5rem;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 768px) {
	.menu {
		display: none;
	}
}

.menu-item {
	margin-left: 1rem;
	padding: 0.5rem 1.5rem;
	font-weight: 600;
	color: var(--grey);
	transition: 0.2s ease-in-out;
	cursor: pointer;
}

.menu-item:hover,
.menu-item.active {
	color: #fff;
	background-color: var(--primary-color);
	border-radius: 101px;
}

.cart-btn {
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--primary-color);
	font-size: 2rem;
	cursor: pointer;
	transition: 0.5s ease-in-out;
}

.cart-btn:hover {
	background-color: var(--primary-color);
	color: #fff;
	border-radius: 10px;
}

.fullHeight {
	height: 100vh;
}

.align-items-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.bg-img {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-img-fixed {
	background-attachment: fixed;
}

.info-principal {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
}

.slogan h1 {
	font-size: 7rem;
	color: var(--primary-color);
}

@media screen and (max-width: 768px) {
	.slogan h1 {
		font-size: 3rem;
	}

	.slogan p {
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 768px) {
	#about.fullHeight {
		height: unset;
	}

	#testimonials {
		margin: 2rem 0;
		height: unset;
	}
}
.slogan button {
	padding: 1rem;
	outline: none;
	border: none;
	background-color: transparent;
	border: 0.125rem solid var(--primary-color);
	border-radius: 2rem;
	color: var(--primary-color);
	margin: 3rem 0;
	font-weight: 600;
	transition: 0.3s ease-in-out;
}

.slogan button:hover {
	background-color: var(--primary-color) !important;
	color: #fff;
}
/* About */
.about-container {
	display: grid;
	grid-template-columns: 70% 30%;
	grid-gap: 1rem;
	align-items: center;
}

@media screen and (max-width: 1248px) {
	.about-container {
		margin: 2rem auto;
		text-align: center;
	}
}

.about-container .about-image img {
	width: 90%;
	border-radius: 2rem;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px,
		rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

@media screen and (max-width: 1248px) {

.about-container .about-image{
	display: none;
}
}

.about-info {
	padding: 2rem 3rem;
	background-color: #fff;
	border-radius: 2rem;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
	transform: translateX(-10rem);
}

.about-info.start {
	transform: translateX(0) !important;
}

@media screen and (max-width: 1248px) {
	.about-info {
		transform: none;
	}

	.about-container {
		grid-auto-rows: auto;
		grid-template-columns: unset;
	}
}

.about-info h4 {
	font-size: 2rem;
	margin-bottom: 2rem;
	text-align: center;
	color: var(--grey);
}

.about-info p {
	font-size: 0.9rem;
}

.primary-color {
	color: var(--primary-color);
}

.food-menu {
	padding: 4rem;
	background-color: #fff;
	border-radius: 2rem;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	margin: 2rem 0;
}
@media screen and (max-width: 768px) {
	.food-menu {
		padding: 1rem 0.5rem;
	}
}

.food-menu h1 {
	color: var(--grey);
}

.food-category {
	display: flex;
	overflow-y: scroll;
	align-items: center;
}
.food-category button {
	padding: 0.5rem 2.5rem;
	margin: 0 1rem;
	outline: none;
	border: 1px solid var(--primary-color);
	background-color: transparent;
	color: var(--primary-color);
	font-weight: 600;
	border-radius: 1rem;
	transition: 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
	.food-category button {
		padding: 0.5rem 1rem;
	}
}

.food-category button:hover,
.food-category button .active {
	background-color: var(--primary-color);
	color: #fff;
}

.food-item-wrap {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	overflow: hidden;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 2rem;
}

.food-item {
	/* width: 25%; */
	height: 23rem;
	padding: 1rem;
}
@media screen and (max-width: 768px) {
	.food-item-wrap {
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	}

	.food-item {
		height: 18rem;
	}
}

.item-wrap {
	height: 100%;
	transition: 0.4s ease-in-out;
	cursor: pointer;
	border-radius: 2rem;
}

.item-wrap:hover {
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.item-img {
	height: 71%;
	position: relative;
	overflow: hidden;
	/* border-radius: 2rem; */
}

.img-holder {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s ease-in-out;
	border-radius: 2rem;
}

/* @media screen and (max-width: 768px) {
  .img-holder img{
    width: 10px;
  }
} */

.img-holder:hover {
	transform: scale(1.7) rotate(45deg);
}

.item-info {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 1.5rem;
	padding: 0 1rem;
}

.item-info h3 {
	color: var(--grey);
	font-size: 1.1rem;
}

/* Testimonials */
.testimonials {
	display: flex;
	align-items: center;
	height: 110vh;
}

.testimonials-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-column-gap: 50px;
	grid-row-gap: 50px;
}

.testimonial {
	text-align: center;
	padding: 1.3rem 1.5rem;
	border-radius: 2rem;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
	position: relative;
}

.testimonial p {
	padding-bottom: 2.5rem;
	border-bottom: 2px solid var(--grey);
	width: 100%;
}

.testimonial img {
	position: absolute;
	width: 90px;
	transform: translate(-50%);
	border-radius: 20%;
	height: 80px;
	bottom: 73px;
}

.testimonial.active {
	transform: scale(1) !important;
	z-index: 2;
}

.testimonial.active.start {
	transform: scale(1.2) !important;
}
@media screen and (max-width: 768px) {
	.testimonial.active {
		transform: scale(1) !important;
	}
	.testimonial.active.start {
		transform: scale(1) !important;
	}
}
.testimonial i {
	color: var(--primary-color);
}

.review-img {
	position: absolute;
	left: 50%;
	width: 5rem;
	height: 5rem;
	bottom: 72px;
	transform: translateX(-50%);
	border-radius: 20%;
	bottom: 85px;
}

.datos-footer {
	display: grid;
	grid-template-columns: 50% 20% auto;
}
@media screen and (max-width: 768px) {
	.datos-footer {
		grid-template-columns: unset;
		text-align: center;
	}
}

.footer {
	color: #fff;
	padding: 6rem 1.5rem;
}

.datos-footer h3 {
	color: var(--primary-color);
}

.input-subscribe {
	background-color: transparent;
	width: 100%;
	padding: 1rem;
	border: 1px solid var(--primary-color);
	border-radius: 10px;
	color: #fff;
}

.input-subscribe:focus {
	outline: none !important;
	border: 1px solid var(--primary-color);
	box-shadow: 0 0 10px #719ece;
}

.email-subscribe {
	position: relative;
	display: flex;
	align-items: center;
}

@media screen and (max-width: 768px) {
	.email-subscribe input {
		font-size: 0.8rem;
	}

	.button-subscribe {
		font-size: 0.7rem;
	}
}
.button-subscribe {
	position: absolute;
	right: 0;
	margin-right: 10px;
	padding: 0.3rem 1rem;
	background-color: var(--primary-color);
	color: #fff;
	border-radius: 30px;
	border: unset;
}

.back-to-top {
	position: fixed;
	bottom: 70px;
	right: 70px;
	z-index: 20;
}
.back-to-top i {
	font-size: 3rem;
	color: var(--primary-color);
}

@media screen and (max-width: 768px) {
	.back-to-top {
		bottom: 80px;
		right: 10px;
	}

	.back-to-top i {
		font-size: 2rem;
		color: var(--primary-color);
	}
}

.food-item-wrap > div {
	display: none;
}

.food-item-wrap.all > div {
	display: block;
}
.food-item-wrap.salad > div.salad-type {
	display: block;
}

.food-item-wrap.lorem > div.lorem-type {
	display: block;
}
.food-item-wrap.ipsum > div.ipsum-type {
	display: block;
}
.food-item-wrap.dolor > div.dolor-type {
	display: block;
}

/* Animation */
.left-to-right {
	transform: translateX(-150%);

	transition: 1s ease-in-out !important;
}
.left-to-right.start {
	transform: translateX(0) !important;
}

.right-to-left {
	transform: translateX(150%);

	transition: 1s ease-in-out !important;
}
.right-to-left.start {
	transform: translateX(0) !important;
}

.zoom {
	transform: scale(0);
	transition: 0.6s ease-in-out;
}

.zoom.start {
	transform: scale(1);
}

.bottom-up {
	transform: translateY(30%);
	transition: 0.8s ease-in-out;
}

.bottom-up.start {
	transform: translateY(0);
}

.delay-2 {
	transition-delay: 0.2s !important;
}

.delay-4 {
	transition-delay: 0.4s !important;
}
.delay-6 {
	transition-delay: 0.6s !important;
}
.delay-8 {
	transition-delay: 0.8s !important;
}
.delay-10 {
	transition-delay: 0.1s !important;
}
.delay-12 {
	transition-delay: 0.12s !important;
}

/* Movil-nav */

.mb-nav {
	position: fixed;
	bottom: 0;
	display: none;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	z-index: 99;
	overflow: hidden;
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
	box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0px;
}

@media screen and (max-width: 768px) {
	.mb-nav {
		display: flex;
	}
}

.mb-nav-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 25%;
	padding: 1rem 0;
	z-index: 1;
}

.mb-nav-item.active i,
.mb-nav-item.active a {
	color: #fff !important;
}

.mb-move-item {
	position: absolute;
	left: 0;
	width: 25%;
	height: 100%;
	background-color: var(--primary-color);
	transition: 0.5s ease-in-out;
}
.mb-nav-item a {
	font-size: 1.3rem;
	color: var(--second-color);
	transition: 0.3s ease-in-out;
}

.firma{
	background-color: #000;
	color: #fff;
	padding: 2rem 0;
}

.firma p{
font-size: 1.5rem;
}

.footer-copy-right a{
	background-color: var(--primary-color);
	color: #fff;
	padding: .5rem;
	border-radius: 10px;
}